# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
npm-debug.log
node_modules/
venv/
.cache/

.data-*/

slack_clone/settings/local.py
slack_clone/db.sqlite3
slack_clone/app/webpack-stats.json
slack_clone/app/build/
slack_clone/assets/

slack_clone/.cache
slack_clone/.coverage
slack_clone/cover/
