# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
npm-debug.log
node_modules/
venv/
.cache/

.data-*/

no_design_slack_clone/settings/local.py
no_design_slack_clone/db.sqlite3
no_design_slack_clone/app/webpack-stats.json
no_design_slack_clone/app/build/
no_design_slack_clone/assets/

no_design_slack_clone/.cache
no_design_slack_clone/.coverage
no_design_slack_clone/cover/
