from settings.test import *

DATABASES['default']['HOST'] = '127.0.0.1'
DATABASES['default']['USER'] = 'no_design_slack_clone'
DATABASES['default']['PASSWORD'] = 'no_design_slack_clone'

CACHES['default']['LOCATION'] = "redis://127.0.0.1:6379/1"
